h1 {color: #f39189; text-align: center;}

.on{ background-color: #bb8082;}


body{ background-color: #6e7582;}
footer{background-color:#046582;}
/*div.box{
    height: 300px;
    width: 300px;
    background-color: #bbbbaa;
}
p{
    width: 75%;
    height: 75%;
    background-color: #0088dd;
}*/
ol{margin-left: 10 px;}

img{width: 700px;
height: 300px;}